<a href="https://colab.research.google.com/github/manjusreekc/EDA-Global-Terrorism-Analysis/blob/main/Global_Terrorism_Analysis_EDA_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#loading data
location = "/content/drive/MyDrive/Global Terrorism Analysis/Global Terrorism Data.csv"
df = pd.read_csv(location, encoding = 'ISO-8859-1',low_memory=False)

# **Inspection** **of** **Data**

In [4]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [5]:
df.describe()

            eventid          iyear  ...       INT_MISC        INT_ANY
count  1.816910e+05  181691.000000  ...  181691.000000  181691.000000
mean   2.002705e+11    2002.638997  ...       0.090010      -3.945952
std    1.325957e+09      13.259430  ...       0.568457       4.691325
min    1.970000e+11    1970.000000  ...      -9.000000      -9.000000
25%    1.991021e+11    1991.000000  ...       0.000000      -9.000000
50%    2.009022e+11    2009.000000  ...       0.000000       0.000000
75%    2.014081e+11    2014.000000  ...       0.000000       0.000000
max    2.017123e+11    2017.000000  ...       1.000000       1.000000

[8 rows x 77 columns]

In [6]:
df.iyear.unique()

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1986, 1982, 1983, 1984, 1985, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017])

In [7]:
df.value_counts

<bound method DataFrame.value_counts of              eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0       197000000001   1970       7     2  ...        0         0       0      NaN
1       197000000002   1970       0     0  ...        1         1       1      NaN
2       197001000001   1970       1     0  ...       -9         1       1      NaN
3       197001000002   1970       1     0  ...       -9         1       1      NaN
4       197001000003   1970       1     0  ...       -9         1       1      NaN
...              ...    ...     ...   ...  ...      ...       ...     ...      ...
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[181691 rows x 135 columns]>

In [8]:
df.shape

(181691, 135)

In [9]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #   Column              Dtype
---  ------              -----
 0   eventid             int64
 1   iyear               int64
 2   imonth              int64
 3   iday                int64
 4   approxdate          object
 5   extended            int64
 6   resolution          object
 7   country             int64
 8   country_txt         object
 9   region              int64
 10  region_txt          object
 11  provstate           object
 12  city                object
 13  latitude            float64
 14  longitude           float64
 15  specificity         float64
 16  vicinity            int64
 17  location            object
 18  summary             object
 19  crit1               int64
 20  crit2               int64
 21  crit3               int64
 22  doubtterr           float64
 23  alternative         float64
 24  alternative_txt     object
 25  multiple            float64
 26  success             int64
 27  suicide             int64
 28  attacktype1         int64
 29  attacktype1_txt     object
 30  attacktype2         float64
 31  attacktype2_txt     object
 32  attacktype3         float64
 33  attacktype3_txt     object
 34  targtype1           int64
 35  targtype1_txt       object
 36  targsubtype1        float64
 37  targsubtype1_txt    object
 38  corp1               object
 39  target1             object
 40  natlty1             float64
 41  natlty1_txt         object
 42  targtype2           float64
 43  targtype2_txt       object
 44  targsubtype2        float64
 45  targsubtype2_txt    object
 46  corp2               object
 47  target2             object
 48  natlty2             float64
 49  natlty2_txt         object
 50  targtype3           float64
 51  targtype3_txt       object
 52  targsubtype3        float64
 53  targsubtype3_txt    object
 54  corp3               object
 55  target3             object
 56  natlty3             float64
 57  natlty3_txt         object
 58  gname               object
 59  gsubname            object
 60  gname2              object
 61  gsubname2           object
 62  gname3              object
 63  gsubname3           object
 64  motive              object
 65  guncertain1         float64
 66  guncertain2         float64
 67  guncertain3         float64
 68  individual          int64
 69  nperps              float64
 70  nperpcap            float64
 71  claimed             float64
 72  claimmode           float64
 73  claimmode_txt       object
 74  claim2              float64
 75  claimmode2          float64
 76  claimmode2_txt      object
 77  claim3              float64
 78  claimmode3          float64
 79  claimmode3_txt      object
 80  compclaim           float64
 81  weaptype1           int64
 82  weaptype1_txt       object
 83  weapsubtype1        float64
 84  weapsubtype1_txt    object
 85  weaptype2           float64
 86  weaptype2_txt       object
 87  weapsubtype2        float64
 88  weapsubtype2_txt    object
 89  weaptype3           float64
 90  weaptype3_txt       object
 91  weapsubtype3        float64
 92  weapsubtype3_txt    object
 93  weaptype4           float64
 94  weaptype4_txt       object
 95  weapsubtype4        float64
 96  weapsubtype4_txt    object
 97  weapdetail          object
 98  nkill               float64
 99  nkillus             float64
 100 nkillter            float64
 101 nwound              float64
 102 nwoundus            float64
 103 nwoundte            float64
 104 property            int64
 105 propextent          float64
 106 propextent_txt      object
 107 propvalue           float64
 108 propcomment         object
 109 ishostkid           float64
 110 nhostkid            float64
 111 nhostkidus          float64
 112 nhours              float64
 113 ndays               float64
 114 divert              object
 115 kidhijcountry       object
 116 ransom              float64
 117 ransomamt           float64
 118 ransomamtus         float64
 119 ransompaid          float64
 120 ransompaidus        float64
 121 ransomnote          object
 122 hostkidoutcome      float64
 123 hostkidoutcome_txt  object
 124 nreleased           float64
 125 addnotes            object
 126 scite1              object
 127 scite2              object
 128 scite3              object
 129 dbsource            object
 130 INT_LOG             int64
 131 INT_IDEO            int64
 132 INT_MISC            int64
 133 INT_ANY             int64
 134 related             object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

#**Identifying the required columns**

First we create a new dataframe consisting of required columns to obtain the key findings.

In [10]:
columns = list(df.columns)
print(columns)

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [11]:
#Listing out the required columns
required_columns= ['eventid','iyear', 'imonth','country','country_txt',
 'region','region_txt','provstate','city','success',
 'attacktype1','attacktype1_txt','targtype1','targtype1_txt',
 'gname','weaptype1', 'weaptype1_txt',
 'nkill','nwound','nkillus']
print(required_columns)

['eventid', 'iyear', 'imonth', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'success', 'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt', 'gname', 'weaptype1', 'weaptype1_txt', 'nkill', 'nwound', 'nkillus']

#**Creating a new dataframe with the selected columns**

In [12]:
df_= df[required_columns]

In [13]:
df_= df[required_columns]

In [14]:
gtd_df= df_.rename(columns = {'iyear': 'year', 'imonth': 'month', 'country':"country_id",'country_txt':'country_name','region':"region_id",'region_txt':"region_name",'attacktype1':'attacktype_id','attacktype1_txt':'attacktype','targtype1':'targtype_id', 'targtype1_txt':'targtype','weaptype1':"weapon_id",
       'weaptype1_txt':"weapon","nkill":"deaths","nwound":"injured"})

##**Replacing NaN values with 0**

In [15]:
gtd_df.fillna(0)

             eventid  year  month  ...  deaths injured  nkillus
0       197000000001  1970      7  ...     1.0     0.0      0.0
1       197000000002  1970      0  ...     0.0     0.0      0.0
2       197001000001  1970      1  ...     1.0     0.0      0.0
3       197001000002  1970      1  ...     0.0     0.0      0.0
4       197001000003  1970      1  ...     0.0     0.0      0.0
...              ...   ...    ...  ...     ...     ...      ...
181686  201712310022  2017     12  ...     1.0     2.0      0.0
181687  201712310029  2017     12  ...     2.0     7.0      0.0
181688  201712310030  2017     12  ...     0.0     0.0      0.0
181689  201712310031  2017     12  ...     0.0     0.0      0.0
181690  201712310032  2017     12  ...     0.0     0.0      0.0

[181691 rows x 20 columns]

We will analyze the dataset and try to obtain the following key findings:





*   Intensity of terror attacks over various regions
*   Success rate in fending off terrorists
*   Number of terrorist groups in various regions
*   Most frequently used weapons
*  Intensity of terror attacks over various countries
*   Which terrorist group is carrying out the most number of attacks
*   Types of Casualties
*   Civilian Deaths across Various Countries
*   Trend in the number of terror attacks over the past five decades
*   Most vulnerable target types
*   Wrath of the Terrorist Arsenal
*   Deadliest Terror Groups